<div class="container-fluid" id="symptoms">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="card" style="margin-top: 20px">
        <div class="card-body" style="padding-top: 50px">
          <h4 style="font-weight: bold;opacity: 0.7">Symptoms of Coronavirus</h4>
          <p style="font-size: 14px">COVID-19 affects different people in different ways. Most infected people will develop mild to moderate illness and recover without hospitalization.Seek immediate medical attention if you have serious symptoms. Always call before visiting your doctor or health facility. People with mild symptoms who are otherwise healthy should manage their symptoms at home.<b> On average it takes 5–6 days from when someone is infected with the virus for symptoms to show, however it can take up to 14 days.</b></p>
          <h4  style="font-weight: bold;opacity: 0.7">Most Common Symptoms</h4>
          <div style="margin-top: 10px">
            <img style="float: left;margin-right: 20px;border-radius: 100%; border: 1px solid rgba(0,0,0,0.1)" src="assets/high-fever.png" width="80px" height="80px">
            <div>
              <h5  style="font-weight: bold;opacity: 0.7">Fever</h5>
              <p style="font-size: 14px"><b>High Fever</b> – this means you feel hot to touch on your chest or back (you do not need to measure your temperature). It is a common sign & also may appear in 2-10 days if affected.</p>
            </div>
          </div>
          <div style="clear: both"></div>
          <div style="margin-top: 10px">
            <img style="float: left;margin-right: 20px;border-radius: 100%; border: 1px solid rgba(0,0,0,0.1)" src="assets/caugh-problem.png" width="80px" height="80px">
            <div>
              <h5  style="font-weight: bold;opacity: 0.7">Dry Cough</h5>
              <p style="font-size: 14px"><b>Continuous cough</b> – this means coughing a lot for more than an hour, or 3 or more coughing episodes in 24 hours (if you usually have a cough, it may be worse than usual).</p>
            </div>
          </div>
          <div style="clear: both"></div>
          <div style="margin-top: 10px">
            <img style="float: left;margin-right: 20px;border-radius: 100%; border: 1px solid rgba(0,0,0,0.1)" src="assets/breathing-problem.png" width="80px" height="80px">
            <div>
              <h5  style="font-weight: bold;opacity: 0.7">Shortness of breath</h5>
              <p style="font-size: 14px"><b>Difficulty breathing </b>– Around 1 out of every 6 people who gets COVID-19 becomes seriously ill and develops difficulty breathing or shortness of breath.</p>
            </div>
          </div>
          <div style="clear: both"></div>
          <div style="margin-top: 10px">
            <img style="float: left;margin-right: 20px;border-radius: 100%; border: 1px solid rgba(0,0,0,0.1)" src="assets/low-energy.png" width="80px" height="80px">
            <div>
              <h5  style="font-weight: bold;opacity: 0.7">Fatigue</h5>
              <p style="font-size: 14px"><b>Tiredness </b>– is a feeling of tiredness and an overall lack of energy. A person with fatigue may feel drained, weak, or sluggish.</p>
            </div>
          </div>
          <div style="clear: both"></div>
          <div style="display:flex;flex-flow: wrap;justify-content: space-between">
            <div style="margin-left: 10px;margin-top: 40px;">
              <h4 style="font-weight: bold;opacity: 0.7">Serious Symptoms</h4>
              <ul style="margin-left: 40px;font-size: 14px">
                <li>difficulty breathing or shortness of breath</li>
                <li>chest pain or pressure</li>
                <li>loss of speech or movement</li>
              </ul>
            </div>
            <div style="margin-left: 10px;margin-top: 40px;">
              <h4 style="font-weight: bold;opacity: 0.7">Less Common Symptoms</h4>
              <ul style="margin-left: 40px;font-size: 14px">
                <li>Aches and Pains</li>
                <li>Sore throat</li>
                <li>Diarrhoea</li>
                <li>Conjunctivitis</li>
                <li>Headache</li>
                <li>Loss of taste or smell</li>
                <li>A rash on skin, or discolouration of fingers or toes</li>
              </ul>
            </div>
          </div>
          <div style="clear: both"></div>
          <div style="margin-top: 20px">
            <p style="font-size: 14px">Around 1 out of every 5 people who gets COVID-19 becomes seriously ill and develops difficulty breathing. Older people, and those with underlying medical problems like high blood pressure, heart and lung problems, diabetes, or cancer, are at higher risk of developing serious illness.  However, anyone can catch COVID-19 and become seriously ill. </p>
            <p style="font-size: 14px">People of all ages who experience fever and/or  cough associated withdifficulty breathing/shortness of breath, chest pain/pressure, or loss of speech or movement should seek medical attention immediately. If possible, it is recommended to call the health care provider or facility first, so the patient can be directed to the right clinic.</p>
          </div>
          <div>
            <p style="font-size: 12px; margin-top: 40px" class="text-muted">These are for informational purposes only. Consult your local medical authority for advice. (or visit <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" style="text-decoration: none !important;">WHO website</a> for more information)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div style="margin-top: 20px">
        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/qF42gZVm1Bo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div style="font-size:14px;margin-top: 25px;">
        <h4 style="font-weight: bold;opacity: 0.7">Symptoms and what to do</h4>
        <p style="font-size: 14px;color: red">You must do not leave your home if you have any of coronavirus symptoms (a high temperature or a new, continuous cough) and call your medical service for assistance.</p>
        <h5 style="font-weight: bold;opacity: 0.7">Stay at home to stop coronavirus spreading</h5>
        <p>Everyone must stay at home to help stop the spread of coronavirus. You should only leave the house for very limited purposes:</p>
        <ul style="margin-left: 45px;">
          <li>shopping for basic necessities, for example food and medicine, which must be as important.</li>
          <li>one form of exercise a day, for example a run, walk, or cycle – alone or with members of your household.</li>
          <li>any medical need, including to donate blood, avoid or escape risk of injury or harm, or to provide care or to help a vulnerable person.</li>
          <li>travelling for work purposes, but only where you cannot work from home.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
