<div style="position:relative;">
  <div class="container-fluid" id="main">
  <div class="row">
    <div class="col-12 header p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light pb-0 mb-0">
        <a class="navbar-brand" style="height: 50px; width: 50px" href="#"><img style="  animation: 2s circle infinite;" width="85%" height="100%" src="assets/coronavirus_1.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto ml-auto position-relative" style="left: 0">
            <li class="nav-item">
              <a class="nav-link" routerLink="search">Home</a>
              <div id="search"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="register">Register</a>
              <div id="register"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="prevention">Prevention</a>
              <div id="prevention"></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="symptoms">Symptoms</a>
              <div id="symptoms"></div>
            </li>
          </ul>
          <div class="nav-item">
            <a href="#" style="box-shadow: 0 0 0 0;border: 0 !important;" class="btn btn-link btn-sm nav-link d-inline-block" routerLink="login" *ngIf="!isLoggedIn">Log In</a>
            <div class="btn-group" *ngIf="isLoggedIn">
              <a href="#" type="button" style="box-shadow: 0 0 0 0;font-weight: bold;border: 0 !important" class="btn nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hi {{this.httpService.username}}
              </a>
              <div class="dropdown-menu" style="font-weight: normal;right: 0;left:0">
                <a class="dropdown-item" routerLink="admin">
                  <span *ngIf="this.httpService.role==='lab_tech'" >Update Status</span>
                  <span *ngIf="this.httpService.role==='admin'">Add Technician</span>
                </a>
                <a *ngIf="this.httpService.role==='admin'" class="dropdown-item" routerLink="addHospital">Add Hospital</a>
                <a class="dropdown-item" routerLink="changePass">Change Password</a>
                <a class="dropdown-item" routerLink="login">Logout</a>
              </div>
            </div>
            <div id="profile"></div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<footer class="mt-5 mb-3 text-center small text-muted">&copy; covid19tracker.com, All rights reserved</footer>
</div>
