<div class="container-fluid" id="main">
  <div class="row">
    <div class="col-12 header p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" style="height: 50px; width: 50px" href="#"><img style="  animation: 2s circle infinite;" width="85%" height="100%" src="assets/coronavirus_1.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" >
          <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item active">
              <a id="home" class="nav-link" routerLink="search">Home</a>
            </li>
            <li class="nav-item">
              <a id="register" class="nav-link" routerLink="register">Register</a>
            </li>
            <li class="nav-item">
              <a id="revention" class="nav-link" routerLink="prevention">Prevention</a>
            </li>
            <li class="nav-item">
              <a id="news" class="nav-link" routerLink="news">News</a>
            </li>
            <li class="nav-item">
              <a id="symptoms" class="nav-link" routerLink="symptoms">Symptoms</a>
            </li>
          </ul>
          <div class="nav-item">
            <a href="#" id="login" class="btn btn-link btn-sm nav-link" routerLink="login">Log In</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
