<div class="container-fluid" id="symptoms">
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12">
      <div class="card" style="margin-top: 20px">
        <div class="card-body" style="padding-top: 20px">
          <div class="alert alert-danger col-lg-10" role="alert" style="text-align:center;font-size:14px;margin-bottom: 30px;border-radius: 10px">
            <img src="assets/alert.png"> There is no medicine or vaccine for Corona Virus. Prevention is the best measure
          </div>
          <h4 style="font-weight: bold;opacity: 0.7">How to Protect Yourself?</h4>
          <p style="font-size: 14px">The best way to prevent illness is to avoid being exposed to this virus. As there is not vaccine to prevent so you can protect yourself and help prevent spreading the virus to others if you do as below instruction.</p>
          <div style="margin-top: 30px">
            <img style="float: left;margin-right: 20px;border-radius: 100%; border: 1px solid rgba(0,0,0,0.1)" src="assets/hand-washing.png" width="120px" height="120px">
            <div style="font-size: 14px">
              <h5  style="font-weight: bold;opacity: 0.7">Wash your hands frequently</h5>
              <p>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water for at least 20 seconds.</p>

              <p><b>Why?</b> Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on your hands.</p>
            </div>
          </div>
          <div style="clear: both"></div>
          <div style="margin-top: 10px">
            <img style="float: left;margin-right: 20px;margin-bottom: 20px;border-radius: 80%; border: 1px solid rgba(0,0,0,0.1)" src="assets/social-distance-2273765-1893429.png" width="120px" height="120px">
            <div style="font-size: 14px">
              <h5  style="font-weight: bold;opacity: 0.7">Maintain social distancing</h5>
              <p>Maintain at least 1 metre (3 feet) distance between yourself & anyone who is coughing or sneezing. If you are too close, you get chance to get infected.</p>
              <p><b>Why?</b> When someone coughs or sneezes they spray small liquid droplets from their nose or mouth which may contain virus. If you are too close, you can breathe in the droplets, including the COVID-19 virus if the person coughing has the disease.</p>
            </div>
          </div>
          <div style="clear: both"></div>
          <div style="margin-top: 10px">
            <img style="float: left;margin-right: 20px;border-radius: 100%; border: 1px solid rgba(0,0,0,0.1)" src="assets/dont-touch-nose.png" width="120px" height="120px">
            <div style="font-size: 14px">
              <h5  style="font-weight: bold;opacity: 0.7">Avoid touching face</h5>
              <p>Do not touch your eyes, nose or mouth if your hands are not clean.</p>
              <p><b>Why?</b> Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to your eyes, nose or mouth. From there, the virus can enter your body and can make you sick.</p>
            </div>
          </div>
          <div style="clear: both"></div>
          <div style="margin-top: 10px">
            <img style="float: left;margin-right: 20px;border-radius: 100%; border: 1px solid rgba(0,0,0,0.1)" src="assets/cover-mouth-during-cough.png" width="120px" height="120px">
            <div style="font-size: 14px">
              <h5  style="font-weight: bold;opacity: 0.7">Practice respiratory hygiene</h5>
              <p>Make sure you, & the people around you, follow good respiratory hygiene. This means covering your mouth & nose with your bent elbow or tissue when you cough or sneeze.</p>
              <p><b>Why?</b> Droplets spread virus. By following good respiratory hygiene you protect the people around you from viruses such as cold, flu and COVID-19.</p>
            </div>
          </div>
          <div style="clear: both"></div>
          <div>
            <p style="font-size: 12px; margin-top: 40px" class="text-muted">These are for informational purposes only. Consult your local medical authority for advice. (or visit <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019" target="_blank" style="text-decoration: none !important;">WHO website</a> for more information)</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-12 col-sm-12">
      <div style="margin-top: 20px">
        <iframe width="100%" height="250px" src="https://www.youtube.com/embed/bPITHEiFWLc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div style="font-size:14px;margin-top: 25px;">
        <h5 style="font-weight: bold;opacity: 0.7">Take steps to protect others</h5>
        <p>There are things you can do to help reduce the risk of you and anyone you live with getting ill with virus.</p>
        <ul style="margin-left: 45px;">
          <li>Stay home if you’re sick – Stay home if you are sick, except to get medical care.</li>
          <li>Cover your mouth & nose – with a tissue when you cough or sneeze.</li>
          <li>Wear a facemask if you are sick – You should wear a facemask when you are around other people (e.g., sharing a room or vehicle) and before you enter a healthcare provider’s office.</li>
          <li>Clean AND disinfect frequently touched surfaces daily – This includes phones, tables, doorknobs, light switches, handles, desktops, countertops, toilets etc.</li>
          <li>Stay informed about the local COVID-19 situation – Get up-to-date information about local COVID-19 activity from public health officials.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
