<div class="row" style="margin-top: 5%;">
  <div class="col-lg-5 col-md-8 col-sm-12 ml-auto mr-auto">
    <div class="alert alert-danger text-center alert-top-border-radius" *ngIf="errors && errors['generic_error']">
      {{errors['generic_error']}}
    </div>
      <div class="form-group">
        <input id="ApplicationNumber" name="application1" (keyup)="validate()" class="shadow form-control" [(ngModel)]="application" #application1="ngModel" required placeholder="Enter Application Number">
        <div class="mb-0" *ngIf="application1.errors?.required && (application1.dirty || application1.touched)" class="alert alert-danger">Application Number is required</div>
        <div *ngIf="!application1.errors?.required && !isValid && (application1.dirty || application1.touched)" class="alert alert-danger">Enter valid Application or Mobile Number</div>
        <div class="mt-2 text-center">
          <button class="btn btn-primary" [hidden]="isTimerOn" [disabled]="!application1.valid || !isValid" (click)="getOtp()">Get Otp</button>
          <p [hidden]="!isTimerOn" [ngClass]="{'d-inline':isTimerOn}">Request another OTP in {{timer$|async}}sec</p>
        </div>
      </div>
      <div *ngIf="isOTPReceived">
        <div class="form-group">
          <input id="otp" name="otp1" class="shadow form-control" [(ngModel)]="otp" #otp1="ngModel" required placeholder="Enter OTP">
          <div *ngIf="otp1.errors?.required && (otp1.dirty || otp1.touched)" class="alert alert-danger">OTP is required</div>
        </div>
        <div class="mt-4 mb-5 mr-auto ml-auto text-center">
          <button type="submit" class="btn btn-primary" [disabled]="!otp1.valid" (click)="searchForPatient()" >Search</button>
        </div>
      </div>
  </div>
</div>
<div class="row">
<div *ngIf="patientList" class="col-lg-9 col-md-12 col-sm-12 mr-auto ml-auto">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th>Application ID</th>
        <th>Name</th>
        <th>Mobile Number</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
      </thead>
      <tr *ngFor="let patient of patientList">
        <td>{{patient.applicationId}}</td>
        <td>{{patient.name}}</td>
        <td>{{patient.mobileNumber}}</td>
        <td>{{patient.email}}</td>
        <td>{{patient.status}}</td>
      </tr>
    </table>
</div>
</div>
