<div class="row">
  <div class="col-lg-4 col-md-8 col-sm-12 mr-auto ml-auto mt-3 pt-2">
    <p style="text-align: center" class="text-danger mb-4">* marked fields are mandatory</p>
    <form #registerForm="ngForm">
      <div class="form-group">
        <label for="Name">Name: </label>
        <input id="name" name="name1" class="shadow form-control" [(ngModel)]="name" #name1="ngModel" required>
        <div *ngIf="name1.invalid && (name1.dirty || name1.touched)" class="alert alert-danger">Name is required</div>
      </div>
      <div class="form-group">
        <label for="mobile">Mobile Number: </label>
        <input name="mobile1" [(ngModel)]="mobile" maxlength="12" minlength="12" class="shadow form-control" id="mobile" #mobile1="ngModel" required>
        <div *ngIf="mobile1.errors?.required && (mobile1.dirty || mobile1.touched)" class="alert alert-danger">Mobile number is required</div>
        <div *ngIf="mobile1.errors?.minlength" class="alert alert-danger">
          mobile number must be 12 digits including country code.
        </div>
      </div>
      <div class="form-group form-check-inline">
        <div>
          Gender:<span class="text-danger">*</span>
        </div>
        <div class="form-check">
            <input type="radio" name="gender" [(ngModel)]="gender" value="male" class="form-check-input" id="male">
            <label class="form-check-label" for="male">Male</label>
        </div>
        <div class="form-check">
          <input type="radio" name="gender" [(ngModel)]="gender" value="female" class="form-check-input" id="female">
          <label class="form-check-label" for="female">Female</label>
        </div>
      </div>
      <div class="form-group">
        <label for="age">Age: </label>
        <input type="number" class="shadow form-control" [(ngModel)]="age" name="age1" #age1="ngModel" id="age" aria-describedby="age" required>
        <div *ngIf="(age<1 || age>120  || age1.errors?.required) && (age1.dirty || age1.touched)" class="alert alert-danger">
          Age must be between 1 and 120
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" name="email1" #email1="ngModel" [(ngModel)]="email" class="shadow form-control" id="email" aria-describedby="age" required email>
        <div *ngIf="(email1.errors?.required || email1.errors?.email) && (email1.dirty || email1.touched)" class="alert alert-danger">
          please enter valid email address
        </div>
      </div>
      <div class="mt-4 mb-5 mr-auto ml-auto text-center">
        <button type="submit" class="btn btn-primary" [disabled]="!registerForm.form.valid" >Register</button>
      </div>
    </form>
  </div>
</div>
